.card {
  all: unset;
  border-radius: $common-border-radius;
  border: 1px solid $card-border;
  background-color: $card-bg;
  margin: $vertical-spacing $common-spacing;
  padding: $common-spacing;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &.card-small {
    flex: 1 1 auto;
    min-width: 33%;
    cursor: pointer;
    position: relative;
    margin: calc($common-spacing / 2) $common-spacing;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px $shadow;
    }

    .material-icons {
      position: absolute;
      left: 3px;

      path {
        fill: $dark-grey;
      }
    }

    @media screen and (max-width: 767px) {}

  }

  &.highlight-card {

    background-color: $angular-blue;
    color: $white;
    font-weight: 600;
    border: none;
    // width: 70%;
    width: 30vw;
    position: relative;
    padding: $common-spacing;
    margin-top: $common-spacing;

    &.version-card {
      $rocket-size: 6.7rem;

      width: auto;
      min-width: 30%;
      // padding-left: 6rem; //todo: calc this from rocket size
      padding-left: calc($rocket-size - $common-spacing + 1rem);

      #rocket {
        width: $rocket-size;
        position: absolute;
        left: -5%; //dynamic positioning
        top: -25%; //dynamic positioning
      }

      // #rocket-smoke {
      //   height: calc(100vh - 95px);
      //   position: absolute;
      //   top: 10px;
      //   right: 180px;
      //   z-index: -10;

      //   @media screen and (max-width: 767px) {
      //     right: 120px;
      //     transform: rotate(-5deg);
      //   }

      //   @media screen and (max-width: 575px) {
      //     display: none;
      //     visibility: hidden;
      //   }
      // }
    }

  }
}
