.tabs {

  div[role="tablist"],
  .tab-list {
    width: calc(100vw - $common-spacing);
    display: flex;
    flex-direction: row;
    justify-content: center;

    button[role="tab"] {
      flex: 0 1 15%;
      max-width: 20vw;
      min-width: auto;
    }
  }

  div[role="tabpanel"], .tab-default {
    padding: $common-spacing;
    margin-bottom: $common-spacing;
    border: 1px solid $dark-grey;
    border-radius: $common-border-radius;
    background-color: $dark-grey-fade;

    .tab-active {
      .container-wrapper {}
    }
  }
  .tab-default {
    p {
      padding: $common-spacing;
    }
  }
}
