:root {
  --angular-blue: #1976d2;
  --angular-dark-red: #c3002f;
}
$angular-blue: var(--angular-blue);
$angular-dark-red: var(--angular-dark-red);

$text-body: #333;
$header-bg: $angular-blue;
$hover-blue: #125699;
$white: white;
$svg-smoke: #888;
$dark-grey: #696767;
$dark-grey-fade: #69676759;
$shadow: #00000059;

$card-border: #eee;
$card-bg: #fafafa;

