@import '../assets/vendor/tailwindcss/preflight.css';

@import './vars/colors.scss';
@import './vars/typography.scss';
@import './vars/layout.scss';

@import './components/terminal.scss';

:host,
:root {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1;
}

a,
a:visited,
a:hover {
  color: $hover-blue;
  text-decoration: none;
}

svg {

  .material-icons path {
    fill: $svg-smoke;
  }

  .material-icons {
    height: 24px;
    width: auto;
  }

  .material-icons:not(:last-child) {
    margin-right: 8px;
  }
}
