@import './vars/colors.scss';
@import './vars/typography.scss';

@import './components/terminal.scss';

:host,
:root {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;

  a {
    display: flex;
    align-items: center;
  }
}

svg {

  .material-icons path {
    fill: #888;
  }

  #clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  #rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  #rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;

    @media screen and (max-width: 767px) {
      right: 120px;
      transform: rotate(-5deg);
    }
    @media screen and (max-width: 575px) {
      display: none;
      visibility: hidden;
    }

  }

  .material-icons {
    height: 24px;
    width: auto;
  }

  .material-icons:not(:last-child) {
    margin-right: 8px;
  }
}
